p {
    text-align: center;
    margin: 0;
}

.logo {
    display: flex;
    font-size: 20px;
    align-items: center;
}

//BTN-GOOGLE
.container-ou {
    display: flex;
    justify-content: center;
    margin: 0;
}

.hr-width {
    width: 50%;
}

.btn-login-google {
    background-color: white !important;
    height: 40px !important;
    display: flex !important;
    align-items: center !important;
    width: 100% !important;
}
