<main class="container">
    <section class="container">
        <div class="form-container box-3d">
            <header class="logo">
                <div class="div-icon-box">
                    <i class="pi pi-spin pi-dollar"></i>
                </div>
                <p>Gerenciador de Gastos</p>
            </header>
            <form class="form">
                <fieldset class="form-group">
                    <label for="usuario">Usuario</label>
                    <input
                        [(ngModel)]="usuario.usuario"
                        type="text"
                        id="usuario"
                        name="usuario"
                        required=""
                    />

                    <label for="senha">Senha</label>
                    <input
                        type="password"
                        id="senha"
                        name="senha"
                        [(ngModel)]="usuario.senha"
                        required=""
                    />
                </fieldset>

                <button
                    (click)="login()"
                    class="form-submit-btn custom-gradient-button"
                    type="submit"
                    style="width: 100%"
                >
                    Entrar
                </button>

                <div class="container-ou">
                    <hr class="hr-width margin-right-5" />
                    <div class="width-20">OU</div>
                    <hr class="hr-width margin-left-5" />
                </div>

                <button
                    class="btn-login-google form-submit-btn"
                    (click)="loginWithGoogle()"
                >
                    <img
                        src="https://img.icons8.com/color/22/000000/google-logo.png"
                    />
                </button>

                <p class="cursor-pointer">Esqueceu a senha?</p>
                <p class="cursor-pointer" (click)="telaCadastro()">
                    Cadastre-se aqui
                </p>
            </form>
        </div>
    </section>
</main>
